<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block baseCss %} {% endblock %}
    {% block pageCss %} {% endblock %}
</head>
<body>
  {% block header %}
  This is the default header
  {% endblock %}
  <main>
  {% block content %}
  This is the default content
  {% endblock %}
  </main>
  {% block footer %}
  This is the default footer
  {% endblock %}

  {% block baseJs %} {% endblock %}
  {% block pageJs %} {% endblock %}
</body>
</html>