<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    {% block baseCss %} {% endblock %}
    {% block pageCss %} {% endblock %}
</head>
<body role="document">
  {% block header %}
    {% include '../partials/header.html' %}
  {% endblock %}

  <div id="content" class="container">
    <aside id="sidebar" role="complementary">
        <section role="region">
            This is the default sidebar
        </section>
        <section role="region">
            This is the default sidebar
        </section>
    </aside>
    <main id="main" role="main">
    {% block content %}
    This is the default content
    {% endblock %}
    </main>
  </div>

  {% block footer %}
    {% include '../partials/footer.html' %}
  {% endblock %}

  {% block baseJs %} {% endblock %}
  {% block pageJs %} {% endblock %}
</body>
</html>