@charset "utf-8";

/* --------------------------------------------------------------
  primary styles
-------------------------------------------------------------- */

/* header
-------------------------------------------------------------- */
#header { min-height: 80px;background-color: #7dbcea; }

/* content
-------------------------------------------------------------- */
#content { background-color: #ececec; }
  #sidebar { float: left;width: 260px;min-height: 200px;background-color: rgba(16, 142, 233, 1); }
  #main { margin-left: 280px;min-height: 200px;background-color: #3ba0e9; }

/* footer
-------------------------------------------------------------- */
#footer { min-height: 80px;background-color: #7dbcea; }